---
- hosts: all
  vars:
    ansible_zuul_src_dir: "{{ ansible_user_dir }}/{{ zuul.projects['github.com/ansible/ansible-zuul-jobs'].src_dir }}"
  tasks:
    - name: Test using Molecule
      shell: "source {{ ansible_test_venv_path }}/bin/activate; molecule test"
      environment: "{{ ansible_test_environment | default({}) }}"
      args:
        chdir: ~/.ansible/collections/ansible_collections/kubernetes/core
