---
- hosts: all
  tasks:
    - name: Ensure controller directory exists
      file:
        path: "{{ ansible_user_dir }}/zuul-output/logs/controller"
        state: directory

    - set_fact:
        ansible_k8s_setup_kind_with_docker: '{{ ansible_k8s_setup_kind_with_docker | default(true) | bool }}'

    - name: Install podman
      package:
        name: podman
        state: present
      become: true
      when: not ansible_k8s_setup_kind_with_docker

    - name: Run ensure-docker role
      include_role:
        name: ensure-docker
      when: ansible_k8s_setup_kind_with_docker

    - name: Run ensure-virtualenv role
      include_role:
        name: ensure-virtualenv

    - name: Run ensure-pip role
      include_role:
        name: ensure-pip

    - name: Setup base virtualenv_options
      set_fact:
        _virtualenv_options: "--python python{{ ansible_test_python }}"

    - name: Ensure pip temp directory exists in /var/tmp
      file:
        state: directory
        path: /var/tmp/ansible-test-pip

    - name: Create virtualenv for ansible-test
      shell: "virtualenv {{ _virtualenv_options }} {{ ansible_test_venv_path }}"

    - name: Upgrade pip
      shell: "{{ ansible_test_venv_path }}/bin/pip install --upgrade pip"

    - name: Install Ansible into virtualenv
      environment:
        ANSIBLE_SKIP_CONFLICT_CHECK: 1
        TMPDIR: /var/tmp/ansible-test-pip
      shell: "{{ ansible_test_venv_path }}/bin/pip install {{ ansible_user_dir }}/{{ zuul.projects['github.com/ansible/ansible'].src_dir }}"

    - name: Fetch and install the artifacts
      import_role:
        name: deploy-artifacts

    - name: Install collection dependencies
      pip:
        name:
          - yamllint
          - kubernetes
          - flake8
          - jsonpatch
        virtualenv: '{{ ansible_test_venv_path }}'
        virtualenv_python: python3

    - name: Disable selinux with selinux_please_lie_to_me
      shell: |
        {{ ansible_test_venv_path }}/bin/pip uninstall -y selinux
        {{ ansible_test_venv_path }}/bin/pip install selinux_please_lie_to_me

    - name: Install Kubernetes cluster
      include_role:
        name: setup-kind
      vars:
        setup_kind_with_docker: '{{ ansible_k8s_setup_kind_with_docker }}'

    - stat:
        path: ~/.kube/config
