---
- hosts: localhost
  gather_facts: false
  tasks:
    - set_fact:
        vmware_ci_set_passwords_passwords:
          # the trailing 56 are here to be sure the password is valie (ascii+digits)
          root: "{{ lookup('password', '/dev/null length=15 chars=ascii_letters,digits,hexdigits') }}56"
          zuul: "{{ lookup('password', '/dev/null length=15 chars=ascii_letters,digits,hexdigits') }}56"
      no_log: true

- hosts: controller
  tasks:
    - name: Ensure sshpass is present
      become: true
      package:
        enablerepo: epel
        name: sshpass
        state: present

    - name: Setup tox role
      include_role:
        name: tox
      vars:
        tox_envlist: venv
        tox_extra_args: -- ansible-playbook -v playbooks/ansible-cloud/vcenter-appliance/files/bootstrap.yaml
        tox_install_siblings: false
        zuul_work_dir: "{{ zuul.projects['github.com/ansible/ansible-zuul-jobs'].src_dir }}"

- hosts: all
  gather_facts: false
  tasks:
    - import_role:
        name: vmware-ci-write-etc-hosts
      vars:
        vmware_ci_write_etc_hosts_mapping:
          vcenter: "{{ hostvars['vcenter']['nodepool']['interface_ip']}}"
          esxi1: "{{ 'esxi1' in hostvars and hostvars['esxi1']['nodepool']['interface_ip']}}"
          esxi2: "{{ 'esxi2' in hostvars and hostvars['esxi2']['nodepool']['interface_ip']}}"
          datastore: "{{ hostvars[groups['controller'][0]]['nodepool']['interface_ip']}}"

- hosts: appliance:appliance-ssh
  gather_facts: false
  tasks:
    - import_role:
        name: vmware-ci-set-passwords
      vars:
        vmware_ci_set_passwords_secret_dir: '{{ zuul.executor.work_root }}'

- hosts: vcenter
  gather_facts: false
  tasks:
    - import_role:
        name: configure-swap
      vars:
        configure_swap_current_total: 0
        configure_swap_size: 2000
    - import_role:
        name: vmware-ci-vcenter-services

- hosts: localhost
  gather_facts: false
  tasks:
    - name: Ensure we can log in the vCenter properly
      uri:
        url: "https://{{ hostvars['vcenter']['nodepool']['interface_ip']}}/rest/com/vmware/cis/session"
        method: POST
        url_password: "{{ lookup('file', '{{ zuul.executor.work_root }}/vcenter/tmp/vcenter_password.txt') }}"
        url_username: "administrator@vsphere.local"
        validate_certs: false
        body_format: json
      register: _result
      until: _result is success and "value" in _result.json
      retries: 100
      delay: 6
