---
- hosts: controller
  tasks:
    - name: Setup tox role
      include_role:
        name: tox
      vars:
        tox_extra_args: "-vv -- ansible-playbook -v playbooks/ansible-test-network-integration-base/files/bootstrap-{{ ansible_test_network_integration }}.yaml"
        tox_install_siblings: false
        zuul_work_dir: "{{ zuul.projects['github.com/ansible/ansible-zuul-jobs'].src_dir }}"

    - name: Ensure remote NETCONF SSH host keys are known
      shell: "ssh-keyscan -t rsa -p 830 {{ hostvars[item].ansible_host }} >> ~/.ssh/known_hosts"
      with_inventory_hostnames: appliance

    - name: Create inventory file
      template:
        src: "inventory-{{ ansible_test_network_integration }}.j2"
        dest: ~/inventory
        mode: 0644

    - name: Setup base virtualenv_options
      set_fact:
        _virtualenv_options: "--python python{{ ansible_test_python }}"

    - name: Enable --system-site-packages for virtualenv_options
      set_fact:
        _virtualenv_options: "{{ _virtualenv_options }} --system-site-packages"
      when: ansible_os_family == "RedHat"

    - name: Create virtualenv for ansible-test
      shell: "virtualenv {{ _virtualenv_options }} ~/venv"

    - name: Install ara into virtuelenv
      shell: ~/venv/bin/pip install "ara<1.0.0"

    - name: Install ansible into virtuelenv
      args:
        executable: /bin/bash
      shell: "~/venv/bin/pip install {{ ansible_user_dir }}/{{ zuul.projects['github.com/ansible/ansible'].src_dir }}"

    - name: Enable ARA callback plugin
      ini_file:
        path: "{{ ansible_user_dir }}/{{ zuul.projects['github.com/ansible/ansible'].src_dir }}/test/integration/network-integration.cfg"
        section: defaults
        option: callback_plugins
        value: "{{ ansible_user_dir }}/venv/lib/python{{ ansible_test_python}}/site-packages/ara/plugins/callbacks"

    - name: Enable persistent connection logging
      ini_file:
        path: "{{ ansible_user_dir }}/{{ zuul.projects['github.com/ansible/ansible'].src_dir }}/test/integration/network-integration.cfg"
        section: persistent_connection
        option: log_messages
        value: true

    - name: Set ansible log path
      ini_file:
        path: "{{ ansible_user_dir }}/{{ zuul.projects['github.com/ansible/ansible'].src_dir }}/test/integration/network-integration.cfg"
        section: defaults
        option: log_path
        value: ~/ansible-debug.txt
