---
- hosts: controller
  tasks:
    - name: Create the ~/.ssh directory
      file:
        path: ~/.ssh
        state: directory
        mode: "0700"

    - name: Relax SSH security to be compatible with the appliance
      copy:
        content: |
          Host {{ hostvars['ios'].ansible_host }}
            stricthostkeychecking no
            userknownhostsfile=/dev/null
            HostKeyAlgorithms +ssh-rsa
            KexAlgorithms +diffie-hellman-group1-sha1
        dest: ~/.ssh/config
        mode: "0600"

    # NOTE: hack to ensure Paramiko won't try to do a key based auth
    # before using the login/pw
    - name: Remove the local SSH keys
      shell: |
        rm ~/.ssh/id_*

    - name: Ensure tox
      include_role:
        name: ensure-tox

    - name: Setup tox role
      include_role:
        name: tox
      vars:
        tox_envlist: venv
        tox_extra_args: -vv -- ansible-playbook -v -c network_cli playbooks/ansible-network-ios-appliance/files/bootstrap.yaml
        tox_install_siblings: false
        zuul_work_dir: "{{ zuul.projects['github.com/ansible/ansible-zuul-jobs'].src_dir }}"
