---
- hosts: controller
  tasks:
    - name: Ensure controller directory exists
      file:
        path: "{{ ansible_user_dir }}/zuul-output/logs/controller"
        state: directory

    - name: Run ensure-docker role
      include_role:
        name: ensure-docker
      when:
        - ansible_test_docker | default(False)

    - name: Add python38 support if needed
      block:
        - name: Ensure python3.8 is present
          become: true
          package:
            name: python3.8-dev
            state: present
      when:
        - ansible_os_family == "Debian"
        - ansible_test_python is version('3.8', '==')

    # NOTE(pabelanger): fedora-32 jobs, currently python3.7 only have
    # selinux bindings for python3.8. For now, disable selinux.
    - name: Disable selinux for python3.7 jobs
      block:
        - name: Disable selinux
          become: true
          selinux:
            state: disabled

        - name: Reboot node
          become: true
          reboot:

        - name: Run start-zuul-console role
          include_role:
            name: start-zuul-console
      when:
        - ansible_os_family == "RedHat"
        - ansible_test_python is version('3.7', '==')

    - name: Setup base virtualenv_options
      set_fact:
        _virtualenv_options: "--python python{{ ansible_test_python }}"

    - name: Create virtualenv for ansible-test
      shell: "virtualenv {{ _virtualenv_options }} ~/venv"

    - name: Install selinux into virtualenv
      shell: ~/venv/bin/pip install selinux "setuptools<50.0.0"
      when: ansible_os_family == "RedHat"

    - name: Install ara into virtualenv
        shell: ~/venv/bin/pip install "ara<1.0.0"
      when: "'integration' in ansible_test_command"
    
    - name: Uninstall ara installed ansible(s)
        shell: pip uninstall -y ansible ansible-core
      when: "'integration' in ansible_test_command"

    - name: Install ansible into virtualenv
      # TODO(pabelanger): Remove ANSIBLE_SKIP_CONFLICT_CHECK in the future.
      environment:
        ANSIBLE_SKIP_CONFLICT_CHECK: 1
      shell: "~/venv/bin/pip install {{ ansible_user_dir }}/{{ zuul.projects['github.com/ansible/ansible'].src_dir }} 'jinja2<3.0.0'"

    # NOTE(pabelanger): For integration jobs, install collections after our
    # appliance is configured. This stops pre-merged code from failing
    # to configure appliances.
    - name: Fetch and install the artifacts
      import_role:
        name: deploy-artifacts
      when:
        - ansible_test_collections | default(False)
        - "'network-integration' not in ansible_test_command"
