---
- hosts: controller
  tasks:
    - when: ansible_test_collections | default(False)
      block:
        - name: Copy the galaxy.yml on the controller
          fetch:
            src: "{{ ansible_test_location }}/galaxy.yml"
            dest: '{{ zuul.executor.work_root }}/tmp_fetch'
          register: _fetch
        - name: Load information from galaxy.yml
          include_vars:
            file: '{{ _fetch.dest }}'
            name: galaxy_info

    - name: Enable FIPS mode
      when:
        - ansible_distribution == "CentOS"
        - ansible_test_network_cli_ssh_type == "libssh"
        - ansible_test_fips_mode | default(False)
      with_inventory_hostnames: appliance
      include_role:
        name: enable-fips-mode

    - name: Run ansible-test
      import_role:
        name: ansible-test
      vars:
        ansible_test_test_command: "{{ ansible_test_command }}"
        ansible_test_location: "{{ ansible_user_dir }}/{{ zuul.projects[ansible_collections_repo].src_dir }}"
        ansible_test_git_branch: "{{ zuul.projects['github.com/ansible/ansible'].checkout }}"
        ansible_test_ansible_path: "{{ ansible_user_dir }}/{{ zuul.projects['github.com/ansible/ansible'].src_dir }}"
        ansible_test_collection_namespace: "{{ ansible_test_collections|ternary(galaxy_info.namespace, '') }}"
        ansible_test_collection_name: "{{ ansible_test_collections|ternary(galaxy_info.name, '') }}"
