---
- pause:
    minutes: 60
- hosts: all:!appliance*
  tasks:
    # NOTE(pabelanger): We run this role in its own play to ensure unbound is
    # restarted before proceeding with any other role. This is because we use
    # notify / handler to restart the unbound service. With ansible notify
    # actions are triggered at the end of each block of tasks in a play.
    - name: Run configure-unbound role
      include_role:
        name: configure-unbound

- hosts: all:!appliance*
  tasks:
    - name: Run validate-host role
      include_role:
        name: validate-host

- hosts: all:!appliance*
  tasks:
    - name: Run configure-mirrors-fork role
      include_role:
        name: configure-mirrors-fork

    - name: Ensure zuul-output folder exists
      file:
        path: "{{ ansible_user_dir }}/zuul-output/logs/"
        state: directory
