---
- hosts: all
  gather_facts: false
  tasks:
    - name: Ensure python3.8 is present (Debian/Ubuntu)
      become: true
      package:
        name: python38-devel
        state: present
      when: ansible_os_family != "RedHat"
    - name: Ensure python3.8 is present (Red Hat)
      become: true
      package:
        name:
          - python3.8
          - gcc
        state: present
      when: ansible_os_family == "RedHat"
