AddressAndPortsScreen.ManagerAddress={{ ansible_host }}
AddressAndPortsScreen.NewNode=True
UpgradeVerificationScreen.Overwrite=False
LicenseScreen.License.-1=
DatabaseScreen.DatabaseType=PostgreSQL
DatabaseScreen.Hostname=localhost
DatabaseScreen.Transport=TCP
DatabaseScreen.DatabaseName=dsm
DatabaseScreen.Username=ec2-user
DatabaseScreen.Password=zuulzuul56
AddressAndPortsScreen.ManagerPort=443
AddressAndPortsScreen.HeartbeatPort=4120
CredentialsScreen.Administrator.Username=ansible
CredentialsScreen.Administrator.Password=Ansible@123
CredentialsScreen.UseStrongPasswords=False
SecurityUpdateScreen.UpdateComponents=True
SecurityUpdateScreen.Proxy=False
SecurityUpdateScreen.ProxyType=""
SecurityUpdateScreen.ProxyAddress=""
SecurityUpdateScreen.ProxyPort=""
SecurityUpdateScreen.ProxyAuthentication="False"
SecurityUpdateScreen.ProxyUsername=""
SecurityUpdateScreen.ProxyPassword=""
SoftwareUpdateScreen.UpdateSoftware=True
SoftwareUpdateScreen.Proxy=False
SoftwareUpdateScreen.ProxyType=""
SoftwareUpdateScreen.ProxyAddress=""
SoftwareUpdateScreen.ProxyPort=""
SoftwareUpdateScreen.ProxyAuthentication="False"
SoftwareUpdateScreen.ProxyUsername=""
SoftwareUpdateScreen.ProxyPassword=""
SoftwareUpdateScreen.ProxyAuthentication="False"
RelayScreen.Install=True
SmartProtectionNetworkScreen.EnableFeedback=False