---
- hosts: controller
  tasks:
    - name: Install binary dependencies
      include_role:
        name: bindep
      vars:
        bindep_dir: "{{ zuul.projects['github.com/ansible/ansible-zuul-jobs'].src_dir }}"

    - name: Run test-setup role
      include_role:
        name: test-setup

    - name: Set SSH interface IP for appliance
      set_fact:
        __ssh_ip: "{{ hostvars[item].ansible_host }}"
      with_inventory_hostnames: appliance:openvswitch

    - name: Set SSH interface IP for IOSXR
      set_fact:
        __ssh_ip: "{{ hostvars[item].nodepool.private_ipv4 }}"
      when: hostvars[item].ansible_network_os in ['iosxr']
      with_inventory_hostnames: appliance:openvswitch

    - name: Set SSH interface port for appliance
      set_fact:
        __ssh_port: 22
      with_inventory_hostnames: appliance:openvswitch

    - name: Set SSH interface port for NXOS
      set_fact:
        __ssh_port: 8022
      when: hostvars[item].ansible_network_os in ['nxos']
      with_inventory_hostnames: appliance:openvswitch

    - name: Wait 300 seconds for SSH port on appliance
      wait_for:
        host: "{{ __ssh_ip }}"
        port: "{{ __ssh_port }}"
        search_regex: SSH

    - name: Ensure remote SSH host keys are known
      shell: "ssh-keyscan -v -p {{ __ssh_port }} {{ __ssh_ip }} >> ~/.ssh/known_hosts"

    - name: Create /etc/ansible folder
      become: true
      file:
        path: /etc/ansible
        state: directory
        mode: 0755

    - name: Install ansible.cfg
      template:
        src: ansible.cfg.j2
        dest: ~/.ansible.cfg
        mode: 0644

    - name: Setup new inventory_hostvars
      set_fact:
        __inventory_hostvars: "{{ hostvars }}"

    - name: Setup new inventory_hostvars
      set_fact:
        __inventory_hostvars: "{{ hostvars | replace(hostvars[item]['ansible_host'], hostvars[item]['nodepool']['private_ipv4']) }}"
      when: hostvars[item].ansible_network_os in ['iosxr']
      with_inventory_hostnames: appliance:openvswitch

    - name: Run write-inventory-fork role
      include_role:
        name: write-inventory-fork
        apply:
          become: true
      vars:
        write_inventory_hostvars: "{{ __inventory_hostvars }}"
        write_inventory_dest: /etc/ansible/hosts
        write_inventory_exclude_hostvars:
          - ansible_connection
