---
- name: Install Kind
  ansible.builtin.get_url:
    url: "https://kind.sigs.k8s.io/dl/{{ kind_release }}/kind-linux-amd64"
    dest: '{{ kind_path }}'
  become: true

- name: Install Kubectl
  ansible.builtin.get_url:
    url: "https://dl.k8s.io/release/{{ kubectl_release }}/bin/linux/amd64/kubectl"
    dest: '{{ kubectl_path }}'
  register: result
  until: result is not failed
  retries: 3
  delay: 60
  become: true

- name: Make Kind as executable
  ansible.builtin.file:
    path: '{{ item }}'
    mode: '0755'
  become: true
  with_items:
    - "{{ kind_path }}"
    - "{{ kubectl_path }}"

- copy:
    content: |
      kind: Cluster
      apiVersion: kind.x-k8s.io/v1alpha4
      networking:
        apiServerAddress: {{ ansible_host }}
        apiServerPort: 6443
    dest: /tmp/kind.yaml

- command: cat /tmp/kind.yaml

- name: Install cluster with Podman driver
  block:
    - name: Ensure IPv6 is enabled
      # See: https://github.com/containers/podman/issues/15395
      sysctl:
        name: net.ipv6.conf.all.disable_ipv6
        value: '0'
        state: present
        sysctl_set: true
        reload: true
      become: true

    - name: Create cluster
      shell: |
        sudo {{ kind_path }} create cluster  --config /tmp/kind.yaml
        mkdir ~/.kube
        sudo kind get kubeconfig |grep -v 'enabling experimental podman provider' > ~/.kube/config
        chmod 600 ~/.kube/config
      ignore_errors: true
  when: not setup_kind_with_docker

- name: Install cluster with Docker driver
  shell: |
    sudo {{ kind_path }} create cluster  --config /tmp/kind.yaml
    mkdir ~/.kube
    sudo kind get kubeconfig > ~/.kube/config
    chmod 600 ~/.kube/config
  when: setup_kind_with_docker
