---
- name: Install Kind
  ansible.builtin.get_url:
    url: "https://kind.sigs.k8s.io/dl/{{ kind_release }}/kind-linux-amd64"
    dest: '{{ kind_path }}'
  become: true

- name: Install Kubectl
  ansible.builtin.get_url:
    url: "https://dl.k8s.io/release/{{ kubectl_release }}/bin/linux/amd64/kubectl"
    dest: '{{ kubectl_path }}'
  register: result
  until: result is not failed
  retries: 3
  delay: 60
  become: true

- name: Make Kind as executable
  ansible.builtin.file:
    path: '{{ item }}'
    mode: '0755'
  become: true
  with_items:
    - "{{ kind_path }}"
    - "{{ kubectl_path }}"

- name: Create cluster
  shell: "{{ kind_path }} create cluster"
  when: kind_cluster_ip is not defined

- block:
    - set_fact:
        cluster_config: "/tmp/config.yaml"

    - name: Create cluster configuration
      template:
        src: config.j2
        dest: "{{ cluster_config }}"

    - name: Create cluster
      shell: "{{ kind_path }} create cluster --config {{ cluster_config }}"

  when: kind_cluster_ip is defined
