---
- name: Check if swapfile exists
  stat:
    path: /root/swapfile
  become: true
  register: swapfile_result
- include: root.yaml
  static: false
  when:
    - not swapfile_result.stat.exists
    - configure_swap_current_total | int + 10 <= configure_swap_size

# ensure a standard level of swappiness.  Some platforms
# (rax+centos7) come with swappiness of 0 (presumably because the
# vm doesn't come with swap setup ... but we just did that above),
# which depending on the kernel version can lead to the OOM killer
# kicking in on some processes despite swap being available;
# particularly things like mysql which have very high ratio of
# anonymous-memory to file-backed mappings.
#
# This sets swappiness low; we really don't want to be relying on
# cloud I/O based swap during our runs if we can help it
- name: Set swappiness
  become: true
  sysctl:
    name: vm.swappiness
    value: 30
    state: present
