---
- copy:
    src: list_changed_targets.py
    dest: /tmp/list_changed_targets.py
    mode: '0700'

- name: Create temporary file for PR description
  ansible.builtin.tempfile:
    suffix: .desc
  register: desc_file

- ansible.builtin.copy:
    content: "{{ zuul.change_message }}"
    dest: "{{ desc_file.path }}"

- set_fact:
    splitter_cmd: >
      python3 /tmp/list_changed_targets.py
      --branch {{ zuul.branch }}
      --change-message-file {{ desc_file.path }}
      {% if ansible_test_splitter__releases_to_test is defined %}--ansible-releases {{ ansible_test_splitter__releases_to_test | join(' ') }}{% endif %}
      {% if ansible_test_splitter__total_job is defined %}--total-job {{ ansible_test_splitter__total_job }}{% endif %}
      {% if ansible_test_splitter__test_changed|bool %}--test-changed{% else %}--test-all-the-targets{% endif %}
      {{ ansible_test_splitter__check_for_changes_in | join(' ') }}

- name: Will split up the jobs with the following command
  debug:
    msg: "{{ splitter_cmd }}"

- name: Split up the workload
  command: "{{ splitter_cmd }}"
  register: _result

- set_fact:
    for_zuul_return: '{{ _result.stdout | from_json }}'

- debug: var=for_zuul_return

- name: Return the result to Zuul
  zuul_return:
    data: "{{ for_zuul_return.data }}"
