[vmware_rest]
vcenter.test ansible_host=vcenter.test

[all:vars]
ansible_connection=ansible.netcommon.httpapi

[vmware_rest:vars]
ansible_python_interpreter=python
ansible_connection=ansible.netcommon.httpapi
ansible_network_os=ansible.vmware_rest.vmware
ansible_user=administrator@vsphere.local
ansible_httpapi_password={{ lookup('file', vmware_ci_set_passwords_secret_dir + '/vcenter/tmp/vcenter_password.txt') }}
ansible_httpapi_validate_certs=False
ansible_httpapi_use_ssl=Yes
