[vmware_rest]
localhost ansible_connection=local ansible_python_interpreter=python

[vmware_rest:vars]
vcenter_hostname=vcenter.test
vcenter_username=administrator@vsphere.local
vcenter_password={{ lookup('file', vmware_ci_set_passwords_secret_dir + '/vcenter/tmp/vcenter_password.txt') }}
{% if 'esxi1' in hostvars %}
esxi1_hostname=esxi1.test
esxi1_username=root
esxi1_password={{ lookup('file', vmware_ci_set_passwords_secret_dir + '/vcenter/tmp/esxi_password_root.txt') }}
{% endif %}
{% if 'esxi2' in hostvars %}
esxi2_hostname=esxi2.test
esxi2_username=root
esxi2_password={{ lookup('file', vmware_ci_set_passwords_secret_dir + '/vcenter/tmp/esxi_password_root.txt') }}
{% endif %}
