---
- hosts: appliance*
  gather_facts: false
  tasks:
    - name: Setup TM instance silently
      include_role:
        name: tm-deepsec-aws-setup

- hosts: controller
  tasks:
    - name: Ensure tox
      include_role:
        name: ensure-tox

    - name: Setup tox role
      include_role:
        name: tox
      vars:
        tox_envlist: venv
        tox_extra_args: -vv -- ansible-playbook -v -c network_cli playbooks/ansible-security-trendmicro-deepsec-appliance/files/bootstrap.yaml
        tox_install_siblings: false
        zuul_work_dir: "{{ zuul.projects['github.com/goneri/ansible-zuul-jobs'].src_dir }}"
