---
- name: Setup location of project for integration tests
  set_fact:
    _test_location: "{{ ansible_test_collection_dir }}/{{ ansible_test_collection_namespace }}/{{ ansible_test_collection_name }}"
    _test_cfg_location: "{{ ansible_test_collection_dir }}/{{ ansible_test_collection_namespace }}/{{ ansible_test_collection_name }}/tests/integration/{{ ansible_test_test_command }}.cfg"

- name: Setup minimum test requirements
  set_fact:
    _test_requirements: '{% for requirement in ansible_test_requirement_files %} -r {{ _test_location }}/{{ requirement }}{% endfor %}'
    _test_constraints: '{% for constraint in ansible_test_constraint_files %} -c {{ _test_location }}/{{ constraint }}{% endfor %}'

- name: Install python requirements
  shell: "{{ ansible_test_venv_path }}/bin/pip install {{ _test_requirements }} {{ _test_constraints }}"
  # we've got frequent timeout with files.pythonhosted.org. This seems to be related to IPv6
  # e.g: HTTPSConnectionPool(host='files.pythonhosted.org', port=443): Read timed out.
  retries: 3
  delay: 3
  register: result
  until: result.rc == 0

- name: Copy potential cloud provider configuration for ansible-test in the collection
  shell: "cp -v {{ ansible_test_ansible_path }}/test/integration/cloud-config-*.ini {{ _test_location }}/tests/integration/"
  ignore_errors: true
  when: ansible_test_test_command == 'integration'
