---
- name: List the targets
  args:
    chdir: "{{ _test_location }}"
    executable: /bin/bash
  environment: "{{ ansible_test_environment | default({}) }}"
  shell: "source {{ ansible_test_venv_path }}/bin/activate; {{ ansible_test_executable }} {{ ansible_test_test_command }} {{ ansible_test_options }} --list {{ ansible_test_integration_targets }} 2>&1|grep -v WARNING"
  register: ansible_test_targets
  failed_when: ansible_test_targets.rc not in [0, 1]
- set_fact:
    number_entries: "{{ ansible_test_targets.stdout_lines|length }}"
- set_fact:
    _iter_by: "{{ (number_entries|int / ansible_test_split_in)|round(0, 'ceil')|int }}"
- set_fact:
    _start_at: "{{ (_iter_by|int * ansible_test_do_number|int) - _iter_by|int }}"
- set_fact:
    _end_at: "{{ _start_at|int + _iter_by|int - 1 if ansible_test_do_number|int != ansible_test_split_in else number_entries|int - 1 }}"
# Slow tests tend to be closely related.  Hash the names to produce a repeatable
# list that avoids bringing those tests all into one group
- set_fact:
    _hashed_targets: "{{ ( _hashed_targets | default([])) + [ { 'name': item, 'hash': (item | hash('md5')) } ] }}"
  loop: '{{ ansible_test_targets.stdout_lines }}'
- set_fact:
    sorted_test_targets: "{{ _hashed_targets | sort(attribute='hash') | map(attribute='name') | list }}"
- set_fact:
    _integration_targets: "{{ sorted_test_targets[_start_at|int:_end_at|int]|sort|join(' ') }}"
- debug:
    msg: "Do roles: {{ _integration_targets }}"
