# {{ ansible_managed }}
[appstream]
name=CentOS-Stream - AppStream
baseurl={{ package_mirror }}/$stream/AppStream/$basearch/os/
gpgcheck=1
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-centosofficial
