# {{ ansible_managed }}
[powertools]
name=CentOS Stream $releasever - PowerTools
baseurl=https://vault.centos.org/8.5.2111/PowerTools/$basearch/os/
gpgcheck=1
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-centosofficial

